<!DOCTYPE html>
<html>
<head><meta charset="UTF-8"><title>Debug</title></head>
<body>
<div id="test">BEFORE</div>
<script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
<script>
window.onerror = function(m,s,l,c,e) {
  document.getElementById('test').innerHTML += '<br>ERROR: ' + m + ' at ' + s + ':' + l;
  return false;
};
console.error = function() {
  var args = Array.from(arguments).join(' ');
  document.getElementById('test').innerHTML += '<br>CONSOLE: ' + args;
};
</script>
<script src="../static/app.js"></script>
</body>
</html>
